.container {
  min-width: 320px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #d9fff5;
  padding: 0 16px;
}

.header__contacts {
  display: none;
}

.header__menu {
  display: flex;
}

.header__burger-btn {
  height: 40px;
  margin: 24px 16px 24px 0;
  &::after {
    content: url(../img/burger.svg);
  }
}

.header__burger-btn.open::after {
  display: none;
}

.header__logo {
  align-self: center;
  &.open {
    display: none;
  }
}

.header__servise {
  display: flex;
  justify-content: space-between;

  position: relative;
  padding-top: 24px;
  padding-bottom: 20px;

  & span {
    display: none;
  }
  &.open {
    display: none;
  }
}

.servise__check {
  margin-left: 16px;
  cursor: pointer;
}
.servise::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
  bottom: 24px;
  left: -20px;
}

.servise__repair {
  cursor: pointer;
}

/* //////////////////////////////////////////////////////////////////////*/

@media (min-width: 768px) {
  .header {
    padding: 0 24px;
  }
  .header__burger-btn {
    margin-right: 43px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 2px;
      height: 32px;
      background-color: #eaeaea;
      border-radius: 1px;
      bottom: 6px;
      left: 60px;
    }
  }

  .header__servise {
    margin-left: 42px;
  }

  .header__links {
    display: flex;
  }

  .servise::before {
    bottom: 28px;
  }
  .header__message,
  .header__profile {
    margin-left: 16px;
  }
}

/* ////////////////////////////////////////////////////////////////// */

@media (min-width: 1024px) {
}

/* ////////////////////////////////////////////////////////////////// */

@media (min-width: 1366px) {
  .container {
    width: 76%;
    margin-right: 0;
  }
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 0px;
  }

  .header__menu {
    display: none;
  }

  .header__servise {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    padding-right: 8px;
    & span {
      display: block;
      margin-right: 8px;
    }
  }

  .servise__repair {
    display: flex;
    align-items: center;
  }

  .servise__check {
    display: flex;
    align-items: center;
  }

  .servise::before {
    display: none;
  }
}

/* ////////////////////////////////////////////////////////////////// */

@media (min-width: 1440px) {
}
