.slider__item--repair {
  height: 160px;
}

.slider__subtitle {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding-left: 16px;
  padding-bottom: 114px;
  &::before {
    content: url(../img/go.svg);
    position: absolute;
    bottom: 10px;
    right: 16px;
  }
}

.slider__item.slider__item--repair {
  &::before {
    top: 104px;
  }
}

.slider__swiper.repair__swiper {
  &::after {
    height: 166px;
  }
}

/* //////////////////////////////////////////////////////////////////////*/

@media (min-width: 768px) {
}
