.slider__title {
  display: flex;
  text-transform: uppercase;
  height: 80px;
  justify-content: flex-start;
  align-items: center;
  color: $subTitle;
  padding: 0 16px;
  background: linear-gradient(-270deg, #f8f8f8 0%, #ffffff 98.61%);
  border-top: 2px solid $border;
}

.slider__swiper {
  background-color: $bgSection;
  padding: 16px;
}

.slider__swiper::after {
  position: absolute;
  content: '';
  height: 81px;
  width: 24px;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  top: 12px;
  right: 0px;
  z-index: 8;
}

.slider__show,
.slider__hide {
  display: none;
}
.slider__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  margin-bottom: 8px;
}

.swiper-slide-prev,
.swiper-slide-active {
  display: flex;
  justify-content: flex-start;
}

.slider__go {
  cursor: pointer;
  padding: 16px;
  &::before {
    content: url(../img/go.svg);
    position: absolute;
    right: 16px;
    top: 16px;
  }
}

.swiper-pagination {
  position: static;
  margin-bottom: 8px;
}

.swiper-pagination-bullet {
  background-color: #dddddd;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

/* //////////////////////////////////////////////////////////////////////*/

@media (min-width: 768px) {
  .slider__title {
    height: 56px;
    padding: 0 24px;
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
  }
  .slider__swiper {
    padding: 24px 0 0 24px;
  }

  .slider__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 80px;
  }
  .slider__item {
    width: 224px;
    margin-bottom: 0;
  }

  .slider__item.hidden {
    display: none;
  }

  .slider__show {
    position: absolute;
    bottom: -50px;
    left: 0;
    display: flex;
    align-items: center;
    color: #1b1c21;
    font-weight: 500;
    margin-top: 8px;
  }

  .slider__show--disable {
    display: none;
  }
  .show::before {
    content: url(../img/show.svg);
    vertical-align: middle;
    margin-right: 9px;
  }

  .slider__hide {
    display: none;
    font-weight: 500;
    color: #1b1c21;
  }

  .slider__hide::before {
    content: url(../img/hide.svg);
    vertical-align: middle;
    margin-right: 9px;
  }

  .slider__hide--active {
    display: block;
    position: absolute;
    bottom: -52px;
    left: 0;
  }
}

/*///////////////////////////////////////////////////////// */

@media (min-width: 1440px) {
  .sliider__title {
    padding: 0 32px;
  }

  .slider__swiper {
    padding-left: 32px;
    padding-right: 30px;
  }

  .slider__wrapper {
    column-gap: 30px;
  }

  .slider__item {
    width: 240px;
  }

  .slider__show {
    bottom: -60px;
  }

  .slider__show--disable {
    display: none;
  }

  .slider__hide {
    display: none;
    bottom: -60px;
  }
  .slider__hide--active {
    display: block;
  }
}
