@import 'normalize';
@import 'variables';
@import 'header';
@import 'description';
@import 'burger';
@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/modules/pagination/pagination';
@import 'slider';
@import 'repair';

@font-face {
  font-family: 'TTLakes';
  font-style: normal;
  font-weight: 400;
  src: local('TTLake'),
    url('/fonts/TTLakes/TTLakes-Regular.woff') format('woff');
}

body {
  font-family: 'TTLakes', sans-serif;
  color: $text;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  margin: 0 auto;
}
